* {
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color2);
}

body {
    margin: 0;
    padding: 0;

}

.topBar {
    width: 98vw;
    position: absolute;
    z-index: 1;
    padding: 1px 100px;
}


.login ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 18px 1px;
}

.login ul li {
    margin-left: 20px;
    font-size: 0.7em;
    cursor: pointer;
    color: white;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.navBarItems {
    width: 85%;
}

.navBarItems ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBarItems ul li {
    font-size: 0.79em;
    font-weight: 900;
    color: white;
}

.navBarItems ul li:hover {
    background-color: var(--color1);
    cursor: pointer;
    box-shadow: 0px 0 0 8px var(--color1);
    border-radius: 2px;
    transition: 0.3s ease;
}



.two,
.bTwo,
.cTwo,
.dTwo,
.eTwo {
    display: none;
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 380px;
    background-color: var(--color3);
    box-shadow: 2px 2px 6px grey;
    width: 15%;
}

.two a,
.bTwo a,
.cTwo a,
.dTwo a,
.eTwo a {
    text-decoration: none;
    color: black;
    line-height: 2;
    border-bottom: 0.5px solid var(--color4);
}

.two a:hover,
.bTwo a:hover,
.cTwo a:hover,
.dTwo a:hover,
.eTwo a:hover {
    background-color: var(--color4);
    transition: 0.3s ease;
}

.bTwo {
    left: 490px;
}

.cTwo {
    left: 600px;
}

.dTwo {
    left: 720px;
}

.eTwo {
    left: 1050px;
}

.thre {
    margin-left: 20px;
    font-size: 0.8em;
}

.one:hover+.two,
.bOne:hover+.bTwo,
.cOne:hover+.cTwo,
.dOne:hover+.dTwo,
.eOne:hover+.eTwo,
.two:hover,
.bTwo:hover,
.cTwo:hover,
.dTwo:hover,
.eTwo:hover {
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: 0.3s ease;

}

.bline {
    text-decoration: underline;
    color: white;
}