.world {
    width: 100%;
    padding: 1px 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;

}

.weAre {
    width: 48%;
    height: 250px;
    background-color: var(--color5);
    border-radius: 12px;
    display: flex;
    padding: 1px 30px;
    padding-top: 50px;
}

.weAre .left,
.proces .left {
    width: 35%;
}

.weAre .left img {
    width: 75%;

}

.weAre .right {
    width: 60%;
}

.weAre .right h2,
.proces .right h2 {
    font-size: 29px;
    font-weight: 520;
}

.proces {
    width: 48%;
    height: 250px;
    background-color: var(--color6);
    border-radius: 12px;
    display: flex;
    padding: 1px 30px;
    padding-top: 50px;
}

.proces .left img {
    width: 70%;
}

.proces .left {
    width: 29%;
}

.proces .right {
    width: 70%;
}

.proces button {
    border: none;
    background-color: var(--color1);
    padding: 10px 20px;
    font-size: 0.85em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.proces button:hover {
    background-color: var(--color7);
}

.np {
    width: 100%;
    padding: 1px 100px;
    margin-top: 100px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {

    .world {
        width: 100%;
        padding: 1px 20px;
        margin-top: 10px;
        display: block;
    }

    .weAre {
        width: 100%;
        height: 350px;
        display: block;
        text-align: center;
        margin-bottom: 20px;        
    }

    .weAre .left,
    .proces .left {
        width: 95%;
    }

    .weAre .left img {
        width: 35%;
        margin-bottom: 20px;
    }

    .weAre .right {
        width: 80%;
        margin: 1px auto;
    }

    .proces {
        width: 100%;
        height: 350px;
        border-radius: 12px;
        display: block;
        text-align: center;
        margin-bottom: 20px;    
    }

    .proces .left {
        width: 32%;
        margin: 1px auto;
        margin-bottom: 15px;
    }

    .proces .left img {
        width: 55%;
    }
    
    .proces .right {
        width: 80%;
        margin: 1px auto;
    }

    .np {
        width: 100%;
        padding: 1px 100px;
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
    }

}